body{
    color: rgba(255,255,255,0.5);

}
.wrapper{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

p{
    font-weight:600;
    color: rgba(255,255,255,0.75);
}

h4{
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.weather{
    display: flex;
    padding: 1rem 0rem;
    width: 100%;
    justify-content: space-between;
}

.detail{
    color: #fff;
}