.wrapper{
    display: flex;
    background-color: rgb(38, 38, 38);
    width: 85vw;
    height: 65vh;
}

.right{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,#2F6489, #36688A,#3D6B8B,#4C738C,#5A7A8E,#53768D,#627E8E,#69818F,#708590);
    width: 30%;
    max-height: 100%;
    gap: 1rem;
}

.search{
    max-width: 100%;
    height: 40%;
}
.details{
    max-width: 100%;
    height: 50%;
    padding: 1rem;
}