body{
    margin: 0;
    padding: 0;
    background-color: rgb(37, 35, 35);
    background-image: linear-gradient(to top, #204871, #13648c, #2575a9, #1397c3, #45b8d3, #5fdcf0);

}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}