.wrapper{
    width: 75%;
    height: 100%;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
}

.msg{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50%;
}

.content{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

span{
    color: rgba(255,255,255,0.8);
    font-weight: 500;
    font-size: 10em;
}

h1,h4{
    color: #fff;
}

.center{
    display: flex;
    flex-direction: column;
}

.state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 64px;
        height: 64px;
    }
}